/*RESET*/
@import 'reset.scss';

/*COLORS*/
@import 'colors.scss';

/*ANIMATIONS*/
@import 'animations.scss';

/*FONTS*/
@font-face {
    font-family: 'main_regular';
    src: url('../fonts/subset-Raleway-Regular.woff2') format('woff2'),
        url('../fonts/subset-Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'main_bold';
    src: url('../fonts/subset-Raleway-Bold.woff2') format('woff2'),
        url('..fonts/subset-Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*COMMON CLASSES*/
html {
    scroll-padding-top: 66px;
}

body {
    position: relative;
    font-family: 'main_regular';
}

.fa-crutch {
    color: $main_color;
    padding: 2px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

.underline {
    margin: 0 auto 40px;
    width: 60px;
    height: 4px;
    background-color: $main_color;
}

.shadow-bg {
    background-color: $shadow_color;
}

.grey-gradient {
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}

.hero-image {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: -10;
}

.border-for-certificates {
    border-radius: 15px;
    border: solid $main_color 3px;
}

/*NAVIGATION*/
.navbar {
    z-index: 1;
    transition: background-color .6s;

    .navbar-brand {
        font-family: 'main_bold';
    }

    a {
        text-transform: uppercase;
        color: $white_color;
        transition: color .4s;
    }

    a:hover {
        color: $main_color;
    }

    .fa-bars {
        color: $white_color;
        padding: 10px;
    }

    .active {
        color: $main_color;
    }
}

/*HEADER*/
.header {
    &__img {
        height: 100vh;
        background-image: url('../../static/img/header/header\ ip5.jpeg');
    }

    &__arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        font-size: 30px;
        color: $white_color;
        z-index: 100;
        transition: color .4s;
    }

    &__arrow:hover {
        color: $main_color;
    }
}

/*MAIN*/
/*ABOUT ME*/
.about-me {
    .col {
        padding: 10px;
    }

    img {
        height: 340px;
    }
}

/*REHABILITATION*/
/*MAIN PAGE*/
.rehabilitation {
    .card {
        transition: transform .4s;

        img {
            height: 300px;
            object-fit: cover;
        }

        .card-body {
            height: 80px;

            h5 {
                margin-bottom: 20px;
                height: 48px;
                text-align: center;
                text-transform: uppercase;
            }

            p {
                font-size: 15px;
            }
        }

        .btn {
            font-size: 14px;
            transition: background-color border-color .4s;
        }

        .btn:hover {
            background-color: $main_color;
            border-color: $main_color;
        }
    }

    .card:hover {
        transform: scale(.96)
    }
}

/*ORTHOPEDIC REHABILITATION*/
.header-orthopedic {
    color: $white_color;

    &__img {
        height: 85vh;
        background-image: url('../../static/img/rehabilitation/rehabilitation\ 01\ big.jpeg');
    }
}

/*NEUROLOGIC REHABILITATION*/
.header-neurologic {
    color: $white_color;

    &__img {
        height: 85vh;
        background-image: url('../../static/img/rehabilitation/rehabilitation\ 02\ big.jpeg');
    }
}

/*CLASSICAL MASSAGE*/
.header-massage {
    color: $white_color;

    &__img {
        height: 85vh;
        background-image: url('../../static/img/rehabilitation/rehabilitation\ 03\ big.jpeg');
    }
}

/*BACK PAIN REHABILITATION*/
.header-back-pain {
    color: $white_color;

    &__img {
        height: 85vh;
        background-image: url('../../static/img/rehabilitation/rehabilitation\ 04\ \ big.jpeg');
    }
}

/*CERTIFICATES*/
/*MAIN PAGE*/
.cerftificates {
    a {
        color: $black_color;
    }

    i {
        padding-top: 20px;
        font-size: 80px;
        cursor: pointer;
        transition: all .4s;

        p {
            font-weight: normal;
            font-size: 13px;
            text-transform: uppercase;
            padding-top: 10px;
        }
    }

    i:hover {
        color: $main_color;
        transform: scale(1.1);
    }

}

/*SUBPAGES FOR CERTIFICATES*/
.header-certificates {
    &__img {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }
}

/*PRICES*/
.prices {
    .price-box {
        margin: 20px 10px;
        padding: 30px;
        background-color: $white-color;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);

        &__h3 {
            color: $main_color;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        &__price-tag {
            font-family: 'main_bold';
            font-size: 20px;
        }
    }
}


/*CONTACT*/
.contact {
    &__img {
        background-image: url('../img/contact/contact\ ip5.jpeg');
    }

    h3 {
        font-family: 'main_bold';
    }

    h2,
    &__item {
        color: $white_color;
    }

    &__item {
        padding: 10px;

        a {
            color: $white_color;
            transition: color .4s;

            i {
                font-size: 35px;
            }
        }

        a:hover {
            color: $main_color;
        }

        .fas {
            padding: 7px;
        }
    }
}

/*FOOTER*/
footer {
    a {
        color: $white_color;
        text-decoration: none;
        transition: color .4s;
        text-transform: uppercase;
        font-family: 'main_bold';
    }

    a:hover {
        color: $main_color;
    }
}

/*MEDIA QUERIES*/
@media(min-width: 768px) {
    .hero-image {
        background-size: cover;
    }

    /*HEADER*/
    .header {
        &__img {
            background-image: url('../../static/img/header/header\ ipad.jpeg');
        }
    }

    /*ABOUT ME*/
    .about-me {
        &__text {
            font-size: 13px;
        }

        img {
            height: 430px;
        }
    }

    /*REHABILITATION*/
    .rehabilitation {
        .card {
            .card-body {
                height: 220px;
            }
        }
    }

    /*CONTACT*/
    .contact {
        &__img {
            background-image: url('../img/contact/contact\ ipad.jpeg');
        }
    }
}

@media(min-width: 992px) {

    /*NAVBAR*/
    .navbar {
        height: 66px;
    }

    /*ABOUT ME*/
    .about-me {
        &__text {
            font-size: 16px;
        }

        img {
            height: 490px;
        }
    }

    /*CERTIFICATES*/
    .header-certificates {
        &__specify {
            width: auto;
        }
    }

    /*CONTACT*/
    .contact {
        &__img {
            background-image: url('../img/contact/contact\ big\ .jpeg');
        }
    }
}

@media(min-width: 1200px) {

    /*HEADER*/
    .header {
        &__img {
            background-image: url('../../static/img/header/header\ big.jpeg');
        }
    }

    /*ABOUT ME*/
    .about-me {
        img {
            height: 400px;
        }
    }
}

@media(min-width: 1400px) {

    /*ABOUT ME*/
    .about-me {
        &__text {
            font-size: 18px;
        }

        img {
            height: 440px;
        }
    }
}