/*RESET*/
@import 'reset.scss';

/*KOLORY*/
@import 'colors.scss';

/*ANIMACJE*/
@import 'animations.scss';

/*WSPÓlNE KLASY*/
html {
    scroll-padding-top: 66px;
}

body {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;

}

.fa-crutch {
    color: $main_color;
    padding: 2px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

.underline {
    margin: 0 auto 40px;
    width: 60px;
    height: 4px;
    background-color: $main_color;
}

.shadow-bg {
    background-color: $shadow_color;
}

.grey-gradient {
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}

.hero-image {
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: -10;
}

/*NAWIGACJA*/
.navbar {
    z-index: 1;
    transition: background-color .6s;

    a {
        text-transform: uppercase;
        color: $white_color;
        transition: color .4s;
    }

    a:hover {
        color: $main_color;
    }

    .fa-bars {
        color: $white_color;
        padding: 10px;
    }

    .navbar-brand {
        font-weight: bold;
    }

    .active {
        color: $main_color;
    }
}

/*HEADER*/
header {
    .header-img {
        background-image: url('/SIM-REH/img/header/header\ ip5.jpeg');
    }

    .fa-chevron-down {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        font-size: 30px;
        color: $white_color;
        z-index: 100;
        transition: color .4s;
    }

    .fa-chevron-down:hover {
        color: $main_color;
    }
}

/*MAIN*/
/*O MNIE*/
.about-me {
    .col {
        padding: 10px;
    }


    img {
        height: 340px;
    }
}

/*REHABILITACJA*/
/*GłÓWNA STRONA*/
.rehabilitation {
    .card {
        transition: transform .4s;

        img {
            height: 300px;
            object-fit: cover;
        }

        .card-body {
            height: 80px;
        }

        .card-title {
            margin-bottom: 20px;
            height: 48px;
            text-align: center;
            text-transform: uppercase;
        }

        .card-text {
            font-size: 15px;
        }

        .btn {
            font-size: 14px;
        }
    }

    .card:hover {
        transform: scale(.96)
    }
}

/*REHABILITACJA ORTOPEDYCZNA*/
.header-orthopedic {
    color: $white_color;

    .header-orthopedic-img {
        height: 85vh;
        background-image: url('/SIM-REH/img/rehabilitation/rehabilitation\ 01\ big.jpeg');
    }
}

/*REHABILITACJA NEUROLOGICZNA*/
.header-neurologic {
    color: $white_color;

    .header-neurologic-img {
        height: 85vh;
        background-image: url('/SIM-REH/img/rehabilitation/rehabilitation\ 02\ big.jpeg');
    }
}

/*MASAŻ KLASYCZNY*/
.header-massage {
    color: $white_color;

    .header-massage-img {
        height: 85vh;
        background-image: url('/SIM-REH/img/rehabilitation/rehabilitation\ 03\ big.jpeg');
    }
}

/*REHABILITACJA BÓLÓW KRĘGOSŁUPA*/
.header-back-pain {
    color: $white_color;

    .header-back-pain-img {
        height: 85vh;
        background-image: url('/SIM-REH/img/rehabilitation/rehabilitation\ 04\ \ big.jpeg');
    }
}

/*CERTYFIKATY*/

/*CENNIK*/

/*KONTAKT*/
.contact {
    h3 {
        font-weight: bold;
    }

    h2,
    .contact-item {
        color: $white_color;
    }

    .contact-item {
        padding: 10px;

        .fab {
            font-size: 25px;
        }

        a {
            color: $white_color;
            transition: color .4s;
        }

        a:hover {
            color: $main_color;
        }

        .fas {
            padding: 5px;
        }
    }

    .contact-img {
        position: relative;
        background-image: url('/SIM-REH/img/contact/contact\ ip5.jpeg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
    }
}

/*FOOTER*/
footer {
    a {
        color: $white_color;
        text-decoration: none;
        transition: color .4s
    }

    a:hover {
        color: $main_color;
    }
}

/*MEDIA QUERIES*/
@media(min-width: 768px) {

    /*HEADER*/
    header {
        .header-img {
            background-image: url('/SIM-REH/img/header/header\ ipad.jpeg');
        }
    }

    /*O MNIE*/
    .about-me {
        p {
            font-size: 13px;
        }

        img {
            height: 430px;
        }
    }

    /*REHABILITATION*/
    .rehabilitation {
        .card {
            .card-body {
                height: 220px;
            }
        }
    }

    /*KONTAKT*/
    .contact {
        .contact-img {
            background-image: url('/SIM-REH/img/contact/contact\ ipad.jpeg');
        }
    }
}

@media(min-width: 992px) {

    /*NAWIGACJA*/
    .navbar {
        height: 66px;
    }

    /*O MNIE*/
    .about-me {
        p {
            font-size: 16px;
        }

        img {
            height: 490px;
        }
    }

    /*KONTAKT*/
    .contact {
        .contact-img {
            background-image: url('/SIM-REH/img/contact/contact\ big\ .jpeg');
        }
    }
}

@media(min-width: 1200px) {

    /*HEADER*/
    header {
        .header-img {
            background-image: url('/SIM-REH/img/header/header\ big.jpeg');
        }
    }

    /*O MNIE*/
    .about-me {
        img {
            height: 400px;
        }
    }
}

@media(min-width: 1400px) {

    /*O MNIE*/
    .about-me {
        p {
            font-size: 18px;
        }

        img {
            height: 440px;
        }
    }
}